version: '3'

services:
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx
    container_name: webserver
    ports:
      - "80:80"
    volumes:
       - ./code:/data/mysite.local
    networks:
      - app-network

  app:
    build:
      context: ./fpm
      dockerfile: Dockerfile
    image: php 
    container_name: app 
    volumes:
       - ./code:/data/mysite.local
    networks:
      - app-network
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT={REDIS_PORT}
    depends_on:
      - redis

  redis: 
    image: redis
    container_name: redis
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - app-network

  memcached:
    image: memcached
    hostname: memcached
    command:
      - --conn-limit=1024
      - --memory-limit=64
      - --threads=4
    volumes:
      - memcached_data:/data
    networks:
      - app-network

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 83:83
    environment:
      - PMA_ARBITRARY=1

networks:
  app-network:
    driver: bridge

volumes:
  redis_data:
  memcached_data: